body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #063e06;
    color: #DEDAC3;
}

h1 {
    font-size: 250%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    background-color: #063e06;
    color: #DEDAC3;
    font-weight: bold;
    font-size: 100;
    text-decoration-color: #DEDAC3;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}

//kristen help
nav a:hover {
    color: red;
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    display: flex;
    width: 100%;
    height: 400px;
}  

.aboutme {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
}
  
.aboutme h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}
  
.aboutme p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

.mywork {
    text-align: center;
    margin-top: 40px;
  }
  
.mywork-header {
    margin-bottom: 16px;
}
  
.mywork-wrapper img {
    padding: 4.8px;
}
  
.icon {
    width: 190px;
    height: 180px;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px grey;
    margin: 10px;
}

.contactinfo {
    margin-top: 48px;
}
  
.contactinfo h2 {
    text-align: center;
    margin-bottom: 16px;
}
  
.contactinfo-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px grey;
}

.contactinfo-form-container label {
    line-height: 2.7em;
    font-weight: 100px;
    color: rgb(20, 50, 18);
}
  
.contactinfo-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}
  
.contactinfo-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset rgb(20, 50, 18);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: rgb(20, 50, 18);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid rgb(20, 50, 18);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: rgb(20, 50, 18);
    border: 2px solid rgb(20, 50, 18);
    cursor: pointer;
}

.myresume img {
    display: flex;
    width: 80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: rgb(20, 50, 18);
    color:whitesmoke;
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}